--indent 2
--linebreaks lf
--trimwhitespace always
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--modifierorder override.public,private.fileprivate
--nospaceoperators ...
--ranges no-space
--self remove
--semicolons inline
--closingparen balance
--importgrouping alphabetic
--stripunusedarguments closure-only
--commas inline
--ellipsis no-space
--emptybrackets no-space
--ifdef indent
--operatorfunc spaced
--patternlet hoist
--voidtuple void
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--hexgrouping 4,8
--fractiongrouping disabled
--exponentgrouping disabled
